<div style="display:inline-flex;">
    <h3 style="margin:20px 20px 3px 770px;;font-family: roboto,arial,sans-serif;font-size: 18px;cursor: pointer;"><a style="font-family: roboto,arial,sans-serif;font-size:16px;color: grey;width:500px;text-align:justify;text-decoration:none ;cursor: pointer;"  (click)="dashboard()">Dashboard</a></h3>
    <h3 style="margin:20px 6px 110px 0px;;font-family: roboto,arial,sans-serif;font-size: 18px;cursor: pointer;"><a style="font-family: roboto,arial,sans-serif;font-size:16px;color: grey;width:500px;text-align:justify;text-decoration:none ;cursor: pointer;"  (click)="help()">Help</a></h3>
    <h3 style="margin:20px 12px 2px 12px;font-family: roboto,arial,sans-serif;font-size: 18px;cursor: pointer;"><a style="font-family: roboto,arial,sans-serif;font-size:16px;color: grey;width:500px;text-align:justify;text-decoration:none ;cursor: pointer;"  (click)="logout()">LogOut</a></h3>
    <h3 style="margin:22px 6px 20px 9px;;font-family:roboto,arial,sans-serif;font-size:16px;color:grey;width: 500px;text-align: justify;">Logged In User: {{loggedinuser}}</h3>
</div>
