.background{
    
        margin: 0px 0px 0px 40px;
        width: 95%;
        height:600px ;
        padding: 0px;
        border-radius: 6px;
        background: #e7efef;
        box-shadow: 0 0 8px #e7efef;
    
    
}